.reveal section img {
  border: 0;
  box-shadow: 5px 5px 20px -5px rgba(20, 20, 20, 0.6);
  border-radius: 5px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #555;
  text-transform: none;
}

.reveal ul {
  color: #555;
}

.reveal p {
  color: #555;
}

.reveal .fragment.current-only {
  color: #555;
}

.reveal blockquote {
  color: #555;
  font-size: 25px;
}

.reveal p span.star-graph {
  font-size: 40px;
}

.reveal p span.star-graph-crystal {
  color: #1660A7
}

.reveal p span.star-graph-elixir {
  color: #FF6A00
}

.reveal p span.star-graph-rust {
  color: #22941A
}

.reveal p span.star-graph-go {
  color: #CB0D19
}

.reveal p span.star-graph-swift {
  color: #814BB0
}
